
<div class="container">
	<h2>Partner List</h2>
	        <button type="button" class="btn btn-success" (click)="goToAddPartner()">Add New Partner</button>
	<table class="table">
	  <thead>
		<tr>
		  <th>No.</th>
		  <th>Name</th>
		  <th>Email</th>
		  <th> Actions</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let part of partners">
		  <td>{{part.id}}</td>
		  <td>{{part.name}}</td>
		  <td>{{part.email}}</td>
		  <td>
			<button type="button" class="btn btn-primary" (click)="goToEdit(part.id)">Edit</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-info" (click)="goToViewOf(part.id)">View</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-danger" (click)="deletePartner(part)">Delete</button>
		  </td>
		</tr>
		
	  </tbody>
	</table>
  </div>
  