<div class="container">
	<h2>Details of Partner</h2>
	        <div>
				<label>Name:</label>{{ partner.name }}
			</div>
			<div>
				<label>Email:</label>{{ partner.email }}
			</div>
			<div>
				<label>Contactus:</label>{{ partner.contactus}}
			</div>

			<div>
				<label>aboutus:</label>{{ partner.aboutus }}
			</div>
		  	<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
		  	<button type="button" class="btn btn-primary" (click)="goToProject(partner.proj_id)">To Project</button>
  </div>